# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
argon2-cffi
argon2-cffi-bindings
ca-certificates
charset-normalizer
importlib-metadata
intel-openmp
lz4-c==1.9.3
matplotlib-base
matplotlib-inline
mkl-service
nest-asyncio
numpy-base
pandas-datareader
pandas-profiling
prompt-toolkit
python-dateutil
python-fastjsonschema
pytz-deprecation-shim
scikit-learn
streamlit-option-menu
tangled-up-in-unicode
typing-extensions
