# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
numpy-base=1.21.5=py310h206c741_3
pandas-datareader=0.10.0=pyhd3eb1b0_0
pandas-profiling=2.9.0=pyhd3eb1b0_0
scikit-learn=1.0.2=py310h4ed8f06_0
streamlit-option-menu=0.3.2=pypi_0
tangled-up-in-unicode=0.1.0=pyhd3eb1b0_0
typing-extensions=4.1.1=hd3eb1b0_0
